.ni_tree, .ni_tree ul{
    list-style-type: none;
    margin-top: 5px;
    padding-left: 30px;
}
.ni_tree .ni_tree_no_checkbox{
    margin-left: 18px;
}
.ni_tree .ni_tree_checkbox{
    margin-right: 5px;
}
.ni_tree .ni_tree_ctrl{
    margin-right: 5px;
    background-image: url('../images/icon_collapse.gif');
    background-color: green;
    height: 9px;
    width: 9px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
}
.ni_tree li.ni_tree_close>.ni_tree_ctrl{
    background-image: url('../images/icon_collapse.gif');
    background-color: blue;
}

.ni_tree li.ni_tree_close>ul{
    display: none;
    visibility: hidden;
    height: 0px;
}
.ni_tree ul{
    margin-left: 19px;
}
.ni_tree ul.has_subtree{
    margin-left: 5px;
}
